@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color:#307D3B ;
    font-family: 'Comic Neue', cursive, 'Brush Scipt MT';
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Neue', cursive, 'Brush Scipt MT';
}

h2 {
    margin: 0;
}

header {
    background-color:#307D3B ;
    display: grid;
    grid-template-columns: 150px auto;
}


nav {
    display: flex;
    justify-content: space-around;
}
             
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color:#307D3B ;
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

footer {
    background-color:#307D3B ;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #307D3B;
    background-color:#ffffff;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

/***** ID **** elements with styling by ID */


#background {
    height: 725px;
    background-color:#307D3B ;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

/***** Class **** elements with styling by class */

.book {
    background-color:#DDD92A;
    color: #000000;
}

.book, .join {
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    color: #DDD92A ;
    background-color: #000000;
}

/* .join has more styling below */ 

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #DDD92A;
}

.home-title {
    color: #ffffff;
    font-family: 'Comic Neue', cursive, 'Brush Scipt MT';
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
          

.join {
    background-color:#dd8c2a;
    color: #000000;
}
/* join has more styling with .book above */

.msg {
    background-color:#EAE151;
    color: #000000;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #000000;
    font-family: 'Comic Neue', cursive, 'Brush Scipt MT';
}

.msg p {
    color: #000000;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {  
    margin: 200px 0;
}
